*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-weight: bolder;
}

.border {
  border: 0.5vmin dashed red;
}

body {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  font-size: 2.25vmin;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: hsl(30, 50%, 50%);
  background-image: linear-gradient(
      45deg,
      white 25%,
      transparent 25%,
      transparent 75%,
      white 75%,
      white
    ),
    linear-gradient(
      -45deg,
      white 25%,
      transparent 25%,
      transparent 75%,
      white 75%,
      white
    );
  background-size: 2vmin 2vmin;
}

div {
  position: absolute;
  left: 2.5vmin;
  top: 2.5vmin;
  right: 2.5vmin;
  bottom: 2.5vmin;
  background-color: white;
}

div > div {
  border: 2.5vmin solid orange;
}

section {
  display: flex;
  flex-direction: column;
}

section > section {
  flex-direction: row;
}

h::after {
  content: "Shiva Shirsath";
  font-size: 5vh;
  line-height: 10vmin;
  margin-left: 15vmin;
  color: hsl(35, 100%, 40%);
  margin-top: 5vh;
  cursor: pointer;
}

box {
  width: 5vmin;
}
img {
  position: absolute;
  width: 12.5vmin;
  left: -5vmin;
  top: 4vmin;
}
logo {
  position: absolute;
  width: 10vmin;
  aspect-ratio: 1;
  left: 10%;
  background-size: 10vmin;
  background-image: url(https://avatars.githubusercontent.com/ShivaShirsath);
}
media,
contact {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

media {
  left: 0;
}

contact {
  right: 0;
  align-items: flex-end;
}

a {
  width: 4vmin;
  height: 4vmin;
  margin: 0.5vmin;
  background-size: contain;
  background-repeat: no-repeat;
  text-decoration: none;
}

a::after {
  content: "ShivaShirsath";
  height: 4vmin;
  line-height: 4.5vmin;
  margin-left: 4.5vmin;
  color: green;
  border-bottom: 0.4vmin green solid;
}

a:hover {
  cursor: pointer;
}

:is(contact > a, contact > a + a)::after {
  line-height: 210%;
}

contact > a::after {
  content: "9130057189";
  position: absolute;
  translate: -20.5vmin;
}

contact > a + a::after {
  content: "Shiva.S.Shirsath@gmail.com";
  translate: -42.5vmin;
}

contact > a {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg);
}

contact > a + a {
  background-size: 3.5vmin;
  background-position: 0.1vmin 1.2vmin;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/archive/7/7e/20201017164718%21Gmail_icon_%282020%29.svg);
}

media > a {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg);
}

media > a + a {
  background-image: url(https://cdn-icons-png.flaticon.com/512/174/174857.png);
}

hr {
  height: 0.5vmin;
  margin: 1vmin;
  background-color: hsl(30, 100%, 10%);
}

heading + hr {
  height: 0.2vmin;
  background-color: hsl(30, 100%, 25%);
}

heading {
  margin: 0 1vmin;
  text-align: left;
}

table {
  font-size: 2vmin;
  display: flex;
  justify-content: center;
  border-spacing: 0;
}
td.bb {
  overflow: hidden;
  border-bottom: 0.25vmin solid;
}

td:last-child {
  text-align: right;
}
td:nth-child(1),
td:nth-child(2),
td:nth-child(3) {
  text-align: left;
}
mt {
  display: block;
  width: 8vmin;
}
